[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
bumpversion = "*"
wheel = "*"
watchdog = "*"
flake8 = "*"
tox = "*"
coverage = "*"
pytest = "*"
pytest-runner = "*"
PyInstaller = "*"
Sphinx = "*"
twine = "*"
ipython = "*"

[packages]
libprot = {path = ".",editable = true}
click = "*"
numpy = "*"
biopython = "*"
prody = "*"
pyparsing = "*"
scipy = "*"
requests = "*"
ruamel-yaml = "*"
